.file-upload {
    text-align: center;
    margin: 20px;
    padding: 85px;
    background: lightcyan;
    border-radius: 8px;
    border: 2px cadetblue dashed;
}

.file-upload img {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}